.container {
    border: 2px solid black;
    background-color: seagreen;
    box-shadow: 4px 3px 5px black;
    padding: 0 20%
}

h1 {
    text-align: center;
}

p, h2, li{
    color: lightblue
}

body {
    background-color: slategray;
}